* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/bg.jpg");
}


h1, h2, h3, h4, p, a{
    font-family: 'EB Garamond', serif;
    text-decoration: none;
}

h3 {
    font-size: 17px;
}

.header {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #530101;
    margin-bottom: 2em;
    box-shadow: 3px 3px 3px gray;
    color:#FFFFF2;
    justify-content: space-between;
}

.header > h1{
    margin: 10px 1em 10px;
    font-size: 40px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 200;
}

.header > a{
    color: #FFFFF2;
    margin: auto 2em auto 0
}

.header > a:hover{
    text-decoration: underline;
}

.header > a > img{
    width: 15px;
    height: 15px
}

#next-round {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 15px;
    margin: 2em auto 3em auto;
}

.round-counter {
    text-align: center;
}

#monster-header {
    text-align: center;
}

#mimic-image {
    width: 200px;
    display: block;
    height: auto;
    margin: auto;
    border: 1px solid black;
    border-radius: 5%;
    /* box-shadow: 3px 3px 3px gray; */
}
.mimic-container {
    border: 2px solid black;
    background: #f5eede;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px gray;
    height: auto;
    width: 600px;
    margin: auto auto 30px auto;
    /* border-radius: 5%; */
}
.hp-tracker {
    margin: 0 auto;
    display: flex;
    height: 50px;
    width: auto;
    border: 2px solid black;
    justify-content: space-evenly
}

#total-hp {
    text-align: center;
    margin: auto;
}

#plus {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 150px;
    border: none;
    border-radius: 7px;
}

#minus {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 150px;
    border-radius: 7px;
}

#stats {
    text-align: center;
}

#text {
    margin: 10px;
}

.status-effects {
    height: auto;
    width: auto;
    border: 2px solid black;
    background: #f5eede;
    box-shadow: 3px 3px 3px gray;
    margin: 1em;
}

#effect-form{
    margin: 10px;
}

#effect-form > input, #effect-form > button{
    border: 1px solid;
    padding: 5px
}

button {
    background-color: #530101;
    color: #FFFFF2;
}
